.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
}

.indent {
  padding-left: 40px;
}

.indent {
  counter-reset: root;
}

.tree-node:before {
  content: counters(root, ".") " ";
  counter-increment: root;
}
